body{
    background-color:darkgreen;
    text-align: center;
    font-size: x-large;
    margin-top: 100px;
    font-weight: bold;
    color:whitesmoke;
    padding-top: 100px;
    

}
input,button{
    text-align: center;
    font-size: 1.25em;
    border-radius: 20px;
}
button{
    background-color: darkorange;
    color: white;
}